$green-100: #58bc48;
$blue-100: #15212C;
$gray-100: #c6d8e9;
$gray-200: #232526;
$black-100: rgba(217, 217, 217, 0);

.color-green-100 {
  color: $green-100;
}

.color-gray-100 {
  color: $gray-100;
}