.h-10 {
  height: 10px;
}

.h-60 {
  height: 60px;
}

.h-345 {
  height: 345px;
}

.h-200 {
  height: 200px;
}

.h-32 {
  height: 32px;
}

.h-80 {
  height: 80px;
}

.h-708 {
  height: 708px;
}

.h-242 {
  height: 242px;
}

.min-h-874 {
  min-height: 874px;
}

.min-h-32 {
  min-height: 32px;
}