@import '~bootstrap/scss/bootstrap';
@import './fontSize.scss';
@import './color.scss';
@import './margin.scss';
@import './padding.scss';
@import './backgroundColor.scss';
@import './top.scss';
@import './height.scss';
@import './width.scss';
@import './line.scss';
@import './gap.scss';
@import './maxWidth.scss';
@import './border.scss';
@import './borderColor.scss';
@import './shadow.scss';
@import './borderRadios.scss';
@import './minHeight.scss';
@import './zIndex.scss';


.container-max {
  max-width: 1920px;
}

.text-cut-3 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.card-hover:hover .card-hover-button {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.hidden {
  overflow: hidden;
}