.mt-33 {
  margin-top: 33px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-11 {
  margin-top: 11px;
}

.-mt-328 {
  margin-top: -328px;
}

.-mb-468 {
  margin-bottom: -468px;
}

.-mt-398 {
  margin-top: -398px;
}

.-mb-268 {
  margin-bottom: -268px;
}

.mb-2-c {
  margin-bottom: 2px;
}

.-mt-329 {
  margin-top: -329px;
}

.-mb-415 {
  margin-bottom: -329px;
}

.mt-126 {
  margin-top: 126px;
}

.mb-28 {
  margin-bottom: 28px;
}
.-mt-320{
  margin-top: -320px;
}
@media only screen and (max-width: $lg) {
  .mt-126 {
    margin-top: 16px;
  }

}