.max-w-999 {
  max-width: 996px;
}

.max-w-482 {
  max-width: 482px;
}

.max-w-489 {
  max-width: 489px;
}

.max-w-275 {
  max-width: 275px;
}

.max-w-1136 {
  max-width: 1136px;
}

.max-w-360 {
  max-width: 360px;
}