.pl-35 {
  padding-left: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pr-67 {
  padding-right: 67px;
}

.pt-27 {
  padding-top: 27px;
}

.pt-118 {
  padding-top: 118px;
}

.pt-110 {
  padding-top: 110px;
}

.pr-44 {
  padding-right: 44px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pt-92 {
  padding-top: 92px;
}

.pb-152 {
  padding-bottom: 152px;
}

.pt-57 {
  padding-top: 57px;
}

.pl-72 {
  padding-left: 72px;
}

.pb-57 {
  padding-bottom: 57px;
}

.pt-18 {
  padding-top: 18px;
}

@media only screen and (max-width: $lg) {
  .px-16 {
    padding: 0 16px;
  }

  .pt-92 {
    padding-top: 16px;
  }

  .pt-210 {
    padding-top: 0px;
  }

  .pl-72 {
    padding-left: 8px;
  }

}