.t-249 {
  top: 249px;
}

.-t-376 {
  top: -376px;
}

.-t-398 {
  top: -398px;
}

.-top-131 {
  top: -131px;
}

.t-28 {
  top: 28px;
}

.t-200 {
  top: 200px;
}

.-l-71 {
  left: -71px;
}

.-t-33 {
  top: -33px;
}
.-t-250{
  top: -250px;
}
@media only screen and (max-width: $lg) {

  .-top-131 {
    top: 198px
  }

  .-l-71 {
    left: -16px;
  }
}